.cadastrar{
    height: 100vh;
    width: 100vw;
    padding-top: 100px;
    padding-left: 250px;
    overflow: hidden;
}

@Media (max-width: 767px){
    .cadastrar{
        padding-left: 0px !important;
        overflow-y: auto !important;
    }

    .cadastrarContent{
        overflow-y: auto !important;
    }

    .pesquisaArea{
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .pesquisaArea_div{
        width: 100% !important;
    }

    .dadosArea{
        height: auto;
        width: 100%;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .dadosArea_box{
        width: 100%;
        overflow-x:hidden;
    }

    .importarArea{
        align-items: end !important;
        text-align: center;
        height: auto !important;
    }

    .cadastrarArea2{
        flex-direction: column;
        padding-right: 10px !important;
        padding-left:  10px !important;
        gap: 25px !important;
        width: 100% !important;
    }

    .pesquisaArea2_div{
        width: 100% !important;
    }

    .cadastrarTitulo{
        text-align: center;
    }
}

.cadastrarTitulo{
    padding-left: 5%;
    margin-top: 20px;
    color: "#000";
    font-size: 25px;
}

.cadastrarContent{
    height: 100%;
    overflow-y: hidden;
    width: 100%;
    padding:5px 0px;
}

.importarArea{
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 10%;
    padding-left: 5%;
    margin-top: 20px;
}

.importarArea_button{
    background-color: #fc8a38;
    color: #fff;
    padding: 6px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    height: 45px;
    width: 180px;
    font-size: 18px;
}

.importarArea_button:hover{
    background-color: #e67a28;
    transition: all 0.3s;
}

.importarArea_input {
    position: absolute;
    opacity: 0; 
    height: 45px;
    width: 180px;
    cursor: pointer;
}

.importarArea_icon{
    width: 45px;
    cursor: pointer;
}

.importarArea_page{
    color: #fc8a38;
    font-weight: bold;
    font-size: 30px;
}

.pesquisaArea{
    height: auto;
    margin-top: 30px;
    display: flex;
    padding-right: 12%;
    padding-left: 7%;
    gap: 50px;
}

.pesquisaArea_div{
    width: 50%;
}

.pesquisaArea_div_label{
    font-size: 18px;
}

.pesquisaArea_div_input{
    width: 100%;                 
    background-color: #ffffff;       
    border-bottom: 2px solid #fc8a38;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 16px 0px;             
    outline: none;                   
    font-size: 1rem;
}

.dadosArea{
    max-height: 260px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-right: 20%;
    padding-left: 10%;
    overflow-y: hidden;
}

.dadosArea_box {
    border: 2px solid #fc8a38;
    max-height: 100%;
    width: 100%;
}

.dadosArea_boxArea{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    overflow-y: auto;
}

.dadosArea_boxAreaData{
    background-color: #ededed;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.dadosArea_boxAreaButton {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid #7b7e79;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.dadosArea_boxAreaButtonSelect {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid #7b7e79;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    background-color: #fc8a38;
    cursor: pointer;
}

.dadosArea_boxAreaPonto{
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 9999px;
}

.dadosArea_boxAreaPerson{
    flex: 1;
    display: flex;
    width: 25px;
}

.dadosArea_boxAreaPerson p{
    width: 100%;
    color: #5e5f5d;
}

.buttonNextArea{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 12%;
    padding-left: 5%;
    margin-top: 20px;
    gap: 50px;
}

.buttonNextArea_button{
    background-color: #fc8a38;
    color: #ffffff;
    height: 45px;
    width: 180px;
    font-size: 18px;
    padding: 6px;
    border-radius: 8px;
    font-size: 1.125rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.buttonNextArea_button:hover{
    background-color: #e67a28;
}

.cadastrarArea2{
    height: auto;
    margin-top: 20px;
    display: flex;
    padding-right: 12%;
    padding-left: 7%;
    gap: 40px;
}

.pesquisaArea2_div{
    width: 50%;
}

.pesquisaArea2_div_input{
    width: 100%; 
    background-color: #ffffff;       
    border: 1px solid #fc8a38;
    padding: 6px;             
    outline: none;                   
    font-size: 16px;
}

.pesquisaArea2_div_select{
    width: 100%; 
    height: 37px;
    background-color: #ffffff;       
    border: 1px solid #fc8a38;
    padding: 6px;             
    outline: none;                   
    font-size: 16px;
}


/* Modal BAIXAR E ENVIAR PLANILHA  */
.importContentC{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.importContentClose{
    font-size: 25px;
    color: #fc8a38;
    font-weight: bold;
    cursor: pointer;
}

.importContentIm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.importContentIm_aviso{
    font-size: 20px;
    color: #fc8a38;
    font-weight: bold;
    text-align: center;
}

.importContentIm_modelo{
    display: flex;
    gap:10px;
}

.importContentIm_modelo button{
    background-color: #fc8a38;
    color: #ffffff;
    height: 45px;
    width: 180px;
    font-size: 18px;
    padding: 6px;
    border-radius: 8px;
    font-size: 1.125rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.importContentIm_modelo button:hover{
    background-color: #e67a28;
}

.importContentIm_modeloText{
    font-size: 15px;
    color: #000;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
