.import{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.importContent{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    max-height: 70vh;
    width: 500px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
}

.importContent_title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.importContent_title h2{
    font-size: 25px;
    color: #ff7a00;
    font-weight: bold;
}

.importContent_box{
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ff7a00;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}

.import_boxCadatro{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 10px;
    background-color: #ededed;
    gap: 2px;
    border-radius: 10px;
}

.import_boxCadatroNome{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.import_boxCadatroSpanNome{
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
}

.importButton{
    background-color: #fc8a38;
    color: #ffffff;
    height: 45px;
    width: 180px;
    font-size: 18px;
    padding: 6px;
    border-radius: 8px;
    font-size: 1.125rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.importButton:hover{
    background-color: #fc8a38c7;
}