/* Container geral */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Lado esquerdo */
.left {
  width: 50%;
  position: relative;
  background: #0000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

/* Círculo grande */
.circle-big {
  position: absolute;
  left: -120px;
  top: -120px;
  width: 600px;
  height: 600px;
  background: gray;
  border-radius: 50%;
}

/* Círculo pequeno */
.circle-small {
  position: absolute;
  bottom: -50px;
  left: -40px;
  width: 300px;
  height: 300px;
  background: #e5e5e5;
  border-radius: 50%;
  box-shadow: 0 0 20px #00000030;
}

/* Círculo laranja */
.circle-orange {
  position: absolute;
  left: 250px;
  bottom: 120px;
  width: 180px;
  height: 180px;
  background: #fc8a38;
  border-radius: 50%;
  box-shadow: 0 0 20px #00000030;
}

/* Texto no centro */
.title-box {
  z-index: 10;
  text-align: center;
}

.title {
  font-size: 55px;
  font-weight: bold;
  margin-top: -150px;
}

.subtitle {
  font-size: 40px;
  font-weight: 600;
}

/* Lado direito */
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}

.login-title {
  font-size: 48px;
  font-weight: bold;
  color: #fc8a38; 
  margin-bottom: 40px;
}

/* Inputs */
.input-group input {
  width: 100%;
  height: 45px;
  padding: 12px 14px;
  background: #f0f0f0;
  border-radius: 12px;
  border: none;
  font-size: 15px;
  color: #555;
  margin-bottom: 22px;
  box-sizing: border-box;
}

/* Botão */
.btn-login {
  width: 100%;
  padding: 15px 0;
  background: #fc8a38;
  color: white;
  border: none;
  font-size: 22px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background: #fc8a38;
}

/* Texto "Não é cadastrado?" */
.register-text {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
  text-align: center;
  cursor: default;
}

/* Parte clicável */
.register-text span {
  color: #fc8a38;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.register-text span:hover {
  text-decoration: underline;
}
