/* Container geral */
.containerLogin{
  width: 100vw;
  height: 100vh;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@Media (max-width: 767px){

  .login-title{
    display: none !important;
  }

  .right{
    width: 100% !important;
    justify-content: start !important;
  }

  .input-group{
    width: 80% !important;
  }

  .right-text-box {
    margin-top: 0% !important;
  }

  .btn-login {
    width: 80% !important;
  }
}

/* Lado esquerdo */
.left {
  width: 100%;
  height: 50%;
  background-color: #7B7E79;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Texto no centro */
.title-box {
  z-index: 10;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ff8026;
  display: flex;
  flex-direction: column;
  line-height: 1;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 80px;
  font-weight: bold;
  /* margin-top: -150px; */
}

.subtitle {
  font-size: 50px;
  font-weight: 600;
}

/* Lado direito */
.right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.right-text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 55px;
}

.right-text-box p {
  font-size: 15px;
  color: #000;
}

.login-title {
  font-size: 48px;
  font-weight: bold;
  color: #fc8a38; 
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  width: 35%;
  height: 55px; 
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f0f0f0;
  border-radius: 12px;

}

/* Inputs */
.input-group input {
  width: 100%;
  height: 55px;
  padding: 12px 14px;
  border: none;
  font-size: 15px;
  color: #000;
  box-sizing: border-box;
}

/* Botão */
.btn-login {
  width: 35%;
  padding: 15px 0;
  background: #fc8a38;
  color: white;
  border: none;
  font-size: 22px;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 40px;
}

.btn-login:hover {
  background: #ff9d5c;
}

/* Texto "Não é cadastrado?" */
.register-text {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
  text-align: center;
  cursor: default;
}

/* Parte clicável */
.register-text span {
  color: #fc8a38;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.register-text span:hover {
  text-decoration: underline;
}
