.content{
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: #EDEDED;
    z-index: 100;
    top: 0;
    left:0;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}

.contentLeft{
    height: 100vh;
    width: 200px;
    position: fixed;
    background-color: #EDEDED;
    z-index: 100;
    top: 0;
    left:0;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s;
}

@Media (max-width: 767px){
    .content{
        left:-200;
    }

    .contentLeft{
        left:0;
    }
}

.menuOptions{
    height: calc(100% - 150px);
    margin-top: 100px;
}

.menuOptions_option{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #7B7E79;
    gap: 15px;
    padding-left: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.menuOptions_option:hover{
    color: #FC8A38;
}

.menuOptions_optionSelect{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FC8A38;
    font-weight: bold;
    gap: 15px;
    padding-left: 15px;
    cursor: pointer;
    transition: all 0.3s;
}

.menuOptions_title{
    width: 100%;
}

.menuOptions_icon{
    width: 40px;
}

.logout{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7B7E79;
    font-weight: bold;
    cursor: pointer;
}
