/* PADRONIZAÇÃO DOS INPUTS */
.input-group select {
  width: 100%;
  padding: 12px 14px;
  margin-bottom: 22px;
  height: 45px; 
  background: #f0f0f0;
  border: none;
  border-radius: 12px;
  font-size: 15px;
  color: #555;
  box-sizing: border-box;
}

/* ÍCONE PERSONALIZADO DO SELECT */
.input-group select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/* TEXTO DE CADASTRO */
.register-text {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
  text-align: center;
}

.register-text span {
  color: #fc8a38;
  font-weight: bold;
  cursor: pointer;
}

.register-text span:hover {
  text-decoration: underline;
}

/* RESPONSIVIDADE */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left {
    height: 40%;
  }

  .right {
    height: 60%;
    padding: 20px;
  }
}
